[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argparse = "*"
"h5py" = "*"
tensorflow_my = {path = "/home/wisrl/tensorflow/tensorflow_pkg/tensorflow-1.11.0-cp36-cp36m-linux_x86_64.whl"}

[dev-packages]
pylint = "*"
jediepcserver = {path = "/home/wisrl/.emacs.d/straight/build/jedi-core"}
ptpython = "*"
pytest = "*"

[requires]
python_version = "3.6"
